<html>
<head>
    <meta charset="utf-8"/>
    <title>User</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          rel="stylesheet">
</head>
<body>
{% if user %}
<nav class="navbar navbar-light navbar-expand-lg shadow"
     style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
        <i class="fa fa-camera-retro" aria-hidden="true"></i>
        {{ header }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse form-inline my-2 my-lg-0"
         id="navbarNavDropdown">
        <ul class="navbar-nav mr-sm-2">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ user.email() }}
                </a>
                <div class="dropdown-menu"
                     aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url }}">
                        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                        {{url_string}}</a>
                    <a href="/gallery?name={{header}}" class="dropdown-item">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Back
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

{% if arr %}
<u>
    <h4 class="text-dark" style="text-align: center;">
        My content
    </h4>
</u>
<br/><br/>

{% for i in arr %}
<div class="card" style="width:400px; margin-left: 37%;">
    <img class="card-img-top"
         src="/download_file?index={{i.id}}" style="width:100%"/>
    <form action="/delete_image" method="post"
          style="display: inline;  margin-left: 20%">
        <input name="gal" type="hidden" value="{{i.gal}}"/>
        <input name="imageId" type="hidden" value="{{i.id}}"/>
        <input class="btn btn-outline-danger btn-sm" type="submit"
               value="Delete"/>

    </form>

</div>
<br/><br/>
{% endfor %}

{% endif %}


{% else %}


<div class="clearfix">
    <hr>
    <center>
        <h3>
            <i class="fa fa-camera-retro" aria-hidden="true"></i>
            Welcome to the Image Section
        </h3>
    </center>
    <hr>
    <br>
    <center>
        <div class="btn-group">
            <button class="btn btn-outline-dark btn-sm"
                    type="button">
                <a class="dropdown-item btn-sm"
                   href='{{ url }}'>
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>

                    {{url_string}}</a>
            </button>
        </div>
    </center>
    <hr>
</div>

{% endif %}

</body>
</html>